<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>statusService</servlet-name>
    <servlet-class>
      fi.fullerine.greenhouse.server.GreenhouseStatusServiceImpl
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statusService</servlet-name>
    <url-pattern>/monitoring_app/statusService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>statusPollerService</servlet-name>
    <servlet-class>
      fi.fullerine.greenhouse.server.GreenhouseStatusPollerServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statusPollerService</servlet-name>
    <url-pattern>/poll-status</url-pattern>
  </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Monitoring_app.html</welcome-file>
  </welcome-file-list>

</web-app>
